@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Logo
	3.2 Main Nav
	3.3 Header Side
	3.4 Hamburger
4. Menu
	4.1 Menu Social
	4.2 Menu copyright
5. Home
7. Page Section
8. Buttons
9. News
	9.1 Comments
	9.2 Leave Comment
10. Sidebar
11. Footer
	11.1 Newsletter
	11.2 Footer Content
	11.3 Footer Copyright


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:400,500,700');

/*********************************
2. Body and some general stuff
*********************************/

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #ffffff;
  color: #a5a5a5;
}
div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin-bottom: 0px;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 2.29;
  font-weight: 400;
  color: #a5a5a5;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
p a {
  display: inline;
  position: relative;
  color: inherit;
  border-bottom: solid 1px #ffa07f;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
p a:active {
  position: relative;
  color: #ff6347;
}
p a:hover {
  color: #ffffff;
  background: #ffa07f;
}
p a:hover::after {
  opacity: 0.2;
}
::selection {
  background: #ffd266;
  color: #c88e00;
}
p::selection {
  background: #ffd266;
  color: #c88e00;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 11px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
}
::-webkit-input-placeholder {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #a5a5a5 !important;
}
:-moz-placeholder /* older Firefox*/
 {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #a5a5a5 !important;
}
::-moz-placeholder /* Firefox 19+ */ 
 {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #a5a5a5 !important;
}
:-ms-input-placeholder {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #a5a5a5 !important;
}
::input-placeholder {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #a5a5a5 !important;
}
.form-control {
  color: #db5246;
}
section {
  display: block;
  position: relative;
  box-sizing: border-box;
}
.clear {
  clear: both;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}
.clearfix::after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.trans_200 {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.trans_300 {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.trans_400 {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.trans_500 {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.fill_height {
  height: 100%;
}
.super_container {
  width: 100%;
  overflow: hidden;
}
.prlx_parent {
  overflow: hidden;
}
.prlx {
  height: 130% !important;
}
.nopadding {
  padding: 0px !important;
}

/*********************************
3. Header
*********************************/

.header {
  position: fixed;
  top: 45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 1318px;
  height: 104px;
  background: #ffffff;
  z-index: 10;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.header.scrolled {
  top: 15px;
}
.header.scrolled .header_content::before {
  box-shadow: 0px 20px 49px rgba(0, 0, 0, 0.17);
}
.header_content {
  width: 100%;
  height: 100%;
}
.header_content::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  box-shadow: 0px 20px 49px rgba(0, 0, 0, 0.67);
  z-index: -1;
}

/*********************************
3.1 Logo
*********************************/

.logo_container {
  display: inline-block;
  padding-left: 76px;
}
.logo span {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: #3a3a3a;
  vertical-align: middle;
  text-transform: uppercase;
  margin-left: 3px;
}

/*********************************
3.2 Main Nav
*********************************/

.main_nav_container {
  display: inline-block;
  margin-left: auto;
  padding-right: 93px;
}
.main_nav {
  margin-top: 7px;
}
.main_nav_item {
  display: inline-block;
  margin-right: 40px;
}
.main_nav_item:last-child {
  margin-right: 0px;
}
.main_nav_item a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #3a3a3a;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.main_nav_item a:hover {
  color: #ffb606;
}

/*********************************
3.3 Header Side
*********************************/

.header_side {
  width: 279px;
  height: 100%;
  background: #ffb606;
}
.header_side img {
  width: 29px;
  height: 29px;
}
.header_side span {
  display: block;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding-left: 12px;
}

/*********************************
3.4 Hamburger
*********************************/

.hamburger_container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
  display: none;
  cursor: pointer;
}
.hamburger_container i {
  font-size: 24px;
  padding: 10px;
  color: #3a3a3a;
}
.hamburger_container:hover i {
  color: #ffb606;
}

/*********************************
4. Menu
*********************************/

.menu_container {
  position: fixed;
  top: 0;
  right: -50vw;
  width: 50vw;
  height: 100vh;
  background: #ffffff;
  z-index: 12;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  visibility: hidden;
  opacity: 0;
}
.menu_container.active {
  visibility: visible;
  opacity: 1;
  right: 0;
}
.menu {
  position: absolute;
  top: 150px;
  left: 0;
  padding-left: 15%;
}
.menu_list {
  -webkit-transform: translateY(3.5rem);
  -moz-transform: translateY(3.5rem);
  -ms-transform: translateY(3.5rem);
  -o-transform: translateY(3.5rem);
  transform: translateY(3.5rem);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 1000ms 600ms ease;
  opacity: 0;
}
.menu_container.active .menu_list {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}
.menu_item {
  margin-bottom: 9px;
}
.menu_item a {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #3a3a3a;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.menu_item a:hover {
  color: #ffb606;
}
.menu_close_container {
  position: absolute;
  top: 86px;
  right: 79px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu_close {
  top: 9px;
  width: 21px;
  height: 3px;
  background: #3a3a3a;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.menu_close::after {
  display: block;
  position: absolute;
  top: -9px;
  left: 9px;
  content: '';
  width: 3px;
  height: 21px;
  background: #3a3a3a;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.menu_close_container:hover .menu_close,
.menu_close_container:hover .menu_close::after {
  background: #ffb606;
}

/*********************************
4.1 Menu Social
*********************************/

.menu_social_container {
  margin-top: 100px;
  -webkit-transform: translateY(3.5rem);
  -moz-transform: translateY(3.5rem);
  -ms-transform: translateY(3.5rem);
  -o-transform: translateY(3.5rem);
  transform: translateY(3.5rem);
  -webkit-transition: all 1000ms 1000ms ease;
  -moz-transition: all 1000ms 1000ms ease;
  -ms-transition: all 1000ms 1000ms ease;
  -o-transition: all 1000ms 1000ms ease;
  transition: all 1000ms 1000ms ease;
  opacity: 0;
  padding-left: 4px;
}
.menu_social_item {
  display: inline-block;
  margin-right: 27px;
}
.menu_social_item:last-child {
  margin-right: 0px;
}
.menu_social_item a i {
  color: #3a3a3a;
}
.menu_social_item a i:hover {
  color: #ffb606;
}
.menu_container.active .menu_social_container {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}

/*********************************
4.2 Menu copyright
*********************************/

.menu_copyright {
  margin-top: 60px;
  -webkit-transform: translateY(3.5rem);
  -moz-transform: translateY(3.5rem);
  -ms-transform: translateY(3.5rem);
  -o-transform: translateY(3.5rem);
  transform: translateY(3.5rem);
  -webkit-transition: all 1000ms 1200ms ease;
  -moz-transition: all 1000ms 1200ms ease;
  -ms-transition: all 1000ms 1200ms ease;
  -o-transition: all 1000ms 1200ms ease;
  transition: all 1000ms 1200ms ease;
  opacity: 0;
  padding-left: 3px;
}
.menu_container.active .menu_copyright {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}

/*********************************
5. Home
*********************************/

.home {
  width: 100%;
  height: 447px;
}
.home_background_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home_background {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.home_content {
  position: absolute;
  left: 50%;
  bottom: 109px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #ffb606;
  padding-top: 24px;
  padding-bottom: 18px;
  padding-left: 39px;
  padding-right: 42px;
}
.home_content h1 {
  font-size: 72px;
  font-weight: 400;
  color: #ffffff;
  line-height: 0.5;
  white-space: nowrap;
}

/*********************************
7. Page Section
*********************************/

.page_section {
  padding-top: 117px;
  padding-bottom: 117px;
}
.section_title {
}
.section_title h1 {
  display: block;
  color: #1a1a1a;
  font-weight: 500;
  padding-top: 24px;
}
.section_title h1::before {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 55px;
  height: 4px;
  content: '';
  background: #ffb606;
}

/*********************************
8. Buttons
*********************************/

.button {
  cursor: pointer;
}
.button:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.button a {
  font-size: 14px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
.button_1 {
  width: 202px;
  height: 48px;
}

/*********************************
9. News
*********************************/

.news {
  width: 100%;
  padding-top: 103px;
  padding-bottom: 118px;
}
.news_post {
}
.news_post:last-child {
  /*margin-bottom: 0px;*/
}
.news_post_image {
  width: 100%;
}
.news_post_image img {
  width: 100%;
  height: auto;
}
.news_post_top {
  margin-top: 38px;
}
.news_post_date {
  width: 68px;
  height: 68px;
  background: #ffb606;
}
.news_post_date div:first-child {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1;
}
.news_post_date div:last-child {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1;
  margin-top: 3px;
}
.news_post_title_container {
  padding-left: 31px;
  margin-top: -7px;
}
.news_post_title a {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  color: #1a1a1a;
}
.news_post_title a:hover,
.news_post_author a:hover,
.news_post_comments a:hover {
  color: #a5a5a5;
}
.news_post_meta {
  color: #1a1a1a;
  margin-top: 5px;
  padding-left: 2px;
}
.news_post_author a {
  font-size: 12px;
  font-weight: 500;
  color: #1a1a1a;
  line-height: 1;
}
.news_post_comments a {
  font-size: 12px;
  font-weight: 500;
  color: #1a1a1a;
  line-height: 1;
}
.news_post_meta span:nth-child(2) {
  font-size: 12px;
  font-weight: 500;
  color: #1a1a1a;
  margin-left: 5px;
  margin-right: 5px;
}
.news_post_text {
  margin-top: 27px;
}
.news_post_quote {
  background: #f8f4f4;
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 47px;
  padding-bottom: 40px;
  margin-top: 60px;
}
.news_post_quote::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: #ffb606;
  content: '';
}
.news_post_quote_text {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 32.08px;
  margin-bottom: 0px;
}
.news_post_quote_text span {
  font-size: 36px;
  color: #ffb606;
  margin-right: 2px;
}

/*********************************
9.1 Comments
*********************************/

.news_post_comments {
  margin-top: 67px;
}
.comments_title {
  font-size: 18px;
  font-weight: 700;
  color: #1a1a1a;
}
.comments_list {
  margin-top: 69px;
}
.comment {
  margin-bottom: 25px;
}
.comment:last-child {
  margin-bottom: 0px;
}
.comment_image {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 13px;
}
.comment_image img {
  width: 100%;
  height: auto;
}
.comment_content {
  padding-left: 28px;
}
.comment_meta span {
  font-size: 14px;
  font-weight: 500;
  color: #1a1a1a;
}
.comment_name a {
  font-size: 14px;
  font-weight: 500;
  color: #1a1a1a;
}
.comment_name a:hover {
  color: #a5a5a5;
}
.comment_separator {
  margin-left: 7px;
  margin-right: 7px;
}
.comment_text {
  margin-top: 10px;
  padding-left: 2px;
}
.comment_reply_link a {
  font-size: 14px;
  font-weight: 500;
  color: #ffb606;
}
.comment_reply_link a:hover {
  color: #1a1a1a;
}

/*********************************
9.2 Leave Comment
*********************************/

.leave_comment {
  margin-top: 51px;
}
.leave_comment_title {
  font-size: 18px;
  font-weight: 700;
  color: #1a1a1a;
}
.leave_comment_form_container {
  margin-top: 77px;
}
.input_field {
  width: 100%;
  background: #f8f4f4;
  border: solid 2px transparent;
  margin-bottom: 24px;
  height: 42px;
  padding-left: 33px;
}
.input_field:focus {
  outline: none !important;
  border-color: #ffb606;
}
.text_field {
  width: 100%;
  height: 189px;
  background: #f8f4f4;
  border: solid 2px transparent;
  padding-left: 33px;
  margin-bottom: 24px;
}
.text_field:focus {
  outline: none !important;
  border-color: #ffb606;
}
.comment_send_btn {
  width: 100%;
  height: 48px;
  background: #ffb606;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.comment_send_btn:focus {
  outline: solid 1px #ffb606;
  border: green !important;
}

/*********************************
10. Sidebar
*********************************/

.sidebar {
  width: 100%;
}
.sidebar_section {
  margin-top: 48px;
}
.sidebar_section:first-child {
  margin-top: 0px;
}
.sidebar_section_title {
  margin-top: -1px;
}
.sidebar_section_title h3 {
  color: #1a1a1a;
  line-height: 1;
  font-weight: 700;
}
.sidebar_list {
  margin-top: 28px;
}
.sidebar_list_item {
  padding-top: 13px;
  padding-bottom: 13px;
  border-bottom: solid 2px #d2d2d2;
}
.sidebar_list_item a {
  font-size: 14px;
  font-weight: 500;
  color: #a5a5a5;
}
.sidebar_list_item a:hover {
  color: #ffb606;
}
.latest_posts {
  margin-top: 50px;
}
.latest_post {
  margin-bottom: 27px;
}
.latest_post:last-child {
  margin-bottom: 0px;
}
.latest_post_image {
  width: 100%;
}
.latest_post_image img {
  width: 100%;
  height: auto;
}
.latest_post_title {
  margin-top: 24px;
}
.latest_post_title a {
  font-size: 18px;
  font-weight: 500;
  color: #1a1a1a;
}
.latest_post_title a:hover,
.latest_post_author a:hover,
.latest_post_comments a:hover {
  color: #a5a5a5;
}
.latest_post_meta {
  color: #1a1a1a;
  margin-top: 6px;
}
.latest_post_author a {
  font-size: 12px;
  font-weight: 500;
  color: #a5a5a5;
  line-height: 1;
}
.latest_post_comments a {
  font-size: 12px;
  font-weight: 500;
  color: #a5a5a5;
  line-height: 1;
}
.latest_post_meta span:nth-child(2) {
  font-size: 12px;
  font-weight: 500;
  color: #1a1a1a;
  margin-left: 5px;
  margin-right: 5px;
}
.tags {
  margin-top: 50px;
}
.tag {
  height: 40px;
  background: #ffb606;
  margin-right: 12px;
  margin-bottom: 10px;
}
.tag a {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

/*********************************
11. Footer
*********************************/

.footer {
  width: 100%;
  padding-top: 86px;
  background: #1a1a1a;
}
.footer .section_title h1 {
  color: #ffffff;
}

/*********************************
11.1 Newsletter
*********************************/

.newsletter {
  padding-bottom: 85px;
  border-bottom: solid 2px #4d4e4e;
}
.newsletter_form_container {
  width: 60%;
  margin-top: 48px;
}
.newsletter_email {
  width: calc(100% - 164px);
  height: 42px;
  border: none;
  padding-left: 27px;
  font-weight: 500;
  color: #1a1a1a;
}
.newsletter_email:focus {
  outline: solid 2px #ffb606;
}
.newsletter_submit_btn {
  width: 164px;
  height: 42px;
  border: none;
  background: #ffb606;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.newsletter_submit_btn:focus {
  border: solid 2px #ffffff;
}

/*********************************
11.2 Footer Content
*********************************/

.footer_content {
  padding-top: 80px;
  padding-bottom: 83px;
  border-bottom: solid 2px #4d4e4e;
}
.footer_content .logo_container {
  padding-left: 0px;
}
.footer_content .logo span {
  color: #ffffff;
}
.footer_about_text {
  margin-top: 24px;
  margin-bottom: 0px;
  padding-right: 20px;
}
.footer_column_title {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding-top: 15px;
}
.footer_column_content {
  margin-top: 32px;
}
.footer_list_item {
  margin-bottom: 11px;
}
.footer_list_item a {
  font-size: 14px;
  color: #a5a5a5;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.footer_list_item a:hover {
  color: #ffb606;
}
.footer_contact_item {
  font-size: 14px;
  font-weight: 400;
  color: #a5a5a5;
  margin-bottom: 22px;
}
.footer_contact_item:last-child {
  margin-bottom: 0px;
}
.footer_contact_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 10px;
}
.footer_contact_icon img {
  width: 100%;
}

/*********************************
11.3 Footer Copyright
*********************************/

.footer_bar {
  padding-top: 19px;
  padding-bottom: 19px;
}
.footer_social .menu_social_item a i {
  color: #ffffff;
}
.footer_social .menu_social_item a i:hover {
  color: #ffb606;
}
.footer_social .menu_social_item:last-child {
  margin-right: 0px;
}
