/* ---------------------- HEADER ------------------------------ */
#header{
	 background: #2e91ba;
	 padding: 10px 0;
}
#header .form-search{
	float: right;
	padding: 5px;
}
.form-search input{
	border-radius: 0;
}
.form-search button{
	background: #2780a5;
	border-radius: 0;
	border-color: #2780a5;
	color: #fff;
}

/* ---------------------- FOOTER ------------------------------ */
#footer{
	padding: 10px;
	margin-top: 20px;
	border-top: 1px solid #eee;
	color: #777;
}

/* ---------------------- NAV ------------------------------ */
#nav{
	background: #2e91ba;
	margin-bottom: 20px;
}
.navbar{
	background: #2780a5;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
  color: #eee;
  border-bottom: 3px solid #2780a5;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	border-bottom: 3px solid #fff;
}
.dropdown-menu{
	background: #2780a5;
	border-radius: 0;
}
.dropdown-menu > li> a{
	color: #eee;
}

/* ---------------------- SLIDESHOW ------------------------------ */
#slideshow{
	margin-top: -20px;
	background: #000;
	padding: 10px 0;
}

/* ---------------------- CONTENT ------------------------------ */
img{
	width: 100%;
}
h3.judul{
	margin-top: 0;
}
.artikel{
	padding-top: 20px;
	padding-bottom: 20px;
}

.breadcrumb{
	border-radius: 0;
}

/* ---------------------- WIDGET ------------------------------ */
.widget .judul{
	background:  #2e91ba;
	color: #eee;
	padding: 10px;
}
.widget ul{
	padding: 0;
}
.widget li{
	list-style: none;
	margin: 0;
}
.widget li a{
	display: block;
	padding: 10px 0;
	border-bottom: 1px dotted #eee;
}
.widget li a:hover{
	text-decoration: none;
	background: #f7f7f7;
}