.sidebar {
	position: fixed;
	top: 40px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 20px 2px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
}
.sidebar li{
	border-bottom: 1px dotted #eee;
}
.sidebar .dropdown-menu {
	position: relative;
	padding: 0;
	margin-bottom: 10px;
	background-color: #fdfdfd;
	display: none;
	border: none;
	border-radius: none;
	-webkit-box-shadow: none;
          box-shadow: none;
	width: 100%;
}
.sidebar .dropdown-menu > li > a {
	padding: 10px 20px;
	display: block;
}
.sidebar .caret{
	float: right;
	display: inline-block;
	margin-top: 10px;
}

.main{
	padding-top: 30px;
	padding-bottom: 50px;
}

.dashboard-icon{
	font-size: 50px;
}
@media (max-width: 768px){
	.sidebar {
		position: relative;
	}
	.dashboard-icon{
		font-size: 35px;
	}
}

.form-login {
	margin: 200px 0 70px 0;
}
.login-alert{
	margin-top: -50px;
}
.footer{
	border-top: 1px solid #ccc;
	padding-top: 10px;
	background: #eee;
}